<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{noticia.id}}" ng-init="noticia.read = true">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-avatar item-text-wrap">
        <img src="img/uee-go.png">
        <h2> {{noticia.title}} </h2>
      </div>
      <div class="item item-body">
        <img class="img-responsive full-image" ng-src="{{noticia.photo}}">
          <p class="text-format" ng-repeat="paragraph in noticia.body.paragraph">{{paragraph}}</p>
        <small style="font-size: 11px;"> {{noticia.date}} por {{noticia.author}}</small>
      </div>
      <!-- <div class="item" style="padding: 0px;">
        <div class="row text-center">
          <div class="col col-21"><a class="button button-icon icon ion-thumbsup color-positive" href="#">Curtir</a></div>
          <div class="col col-26"><a class="button button-icon icon ion-chatbox color-positive" href="#">Comentar</a></div>
          <div class="col col-54"><a class="button button-icon icon ion-share color-positive" href="#">Compartilhar</a></div>
        </div>
      </div> -->
    </div>
  </ion-content>
</ion-view>

