/* Empty. Add your own CSS if you like */

.tabs-positive > .tabs,
.tabs.tabs-positive{
	background-color: #316AAC;
}

.bar.bar-positive{
	background-color: #316AAC;
}

.text-format{
	text-align: justify;
	text-indent: 1.5em;
}

.img{
	margin: 10px auto 10px auto;
	padding: 10px;
	display: block;
}

.img-responsive{
	max-width: 100%;
	height: auto;
	display: block;
}

.color-positive{
	color: #316AAC;
}

.text-center{
	text-align: center;
}

.item-divider{
	background-color: #316AAC;
	color: #FFF;
}

.list .item-divider .icon{
	color: #FFF;
	font-size: 25px;
}

.button.button-positive{
	background-color: #316AAC;
	border-color: #316AAC;
}

.button.button-positive.active,
.button.button-positive.activated{
	background-color: #FFF;
	color: #316AAC;
}

.button.button-positive.button-outline {
      border-color: #316AAC;
      background: transparent;
      color: #316AAC; }
      .button.button-positive.button-outline.active,
      .button.button-positive.button-outline.activated {
        background-color: #316AAC;
        box-shadow: none;
        color: #fff; }

#btLoginFacebook{
			background-color: #3B5998;
			border: none;
			color: #FFF;
		}

.pull-right{
	float: right;
}

.pull-center{
	float: center;
}

.icon.icon-positive{
	color: #316AAC;
}

.item-no-border{
	border: none;
}

#btLoginFacebook.active,
#btLoginFacebook.activated{
	background-color: transparent;
}

#linkEsqueciSenha{
			font-size: 15px;
			float: right;
			text-decoration: none;
			color:#316AAC;
		}
		#linkEsqueciSenha.active,
		#linkEsqueciSenha.activated{
			color: transparent;
		}


.checkbox-positive input:before,
.checkbox-positive .checkbox-icon:before {
  border-color: #316AAC; }

.checkbox-positive input:checked:before,
.checkbox-positive input:checked + .checkbox-icon:before {
  background: #316AAC;
  border-color: #316AAC; }

.wrapper-checkbox{
	width: 300px;
	height: auto;
	margin: auto;
	border: 1px;
}

input::-moz-placeholder {
  	color: black; }

input:-ms-input-placeholder{
  	color: black; }

input::-webkit-input-placeholder{
  	color: #316AAC;
  	text-indent: black; }

.actioncancel{
	color: red;
}

.item-stacked-label span{
	color: #316AAC;
}

.button-local{
	float: right; 
	font-size: 25px; 
	border: 0.5px solid; 
	border-color: #4a87ee; 
	padding-left: 5px; 
	padding-right: 5px;
	padding-top: 2px;
}

.button-local.active,
  .button-local.activated {
    border-color: transparent;
    background: none;
    box-shadow: none;
    opacity: 0.3; 
}

.button.button-footer{
	margin: 0px; 
	padding: 0px; 
	border: 0px; 
	height: 44px; 
	font-size: 20px;
}

.icon-carteirinha {
	font-size: 50px;
	color: #316AAC;
}

.container-calm{
	background-color: #11c1f3;
}